@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 54 44% 99%;
    --foreground: 54 65% 3%;
    --muted: 24 14% 92%;
    --muted-foreground: 24 4% 28%;
    --popover: 54 44% 98%;
    --popover-foreground: 54 65% 2%;
    --card: 54 44% 98%;
    --card-foreground: 54 65% 2%;
    --border: 54 10% 90%;
    --input: 54 10% 90%;
    --primary: 54 71% 69%;
    --primary-foreground: 54 71% 9%;
    --secondary: 24 71% 69%;
    --secondary-foreground: 24 71% 9%;
    --accent: 84 71% 69%;
    --accent-foreground: 84 71% 9%;
    --destructive: 1 85% 23%;
    --destructive-foreground: 1 85% 83%;
    --ring: 54 71% 69%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 54 0% 6.92%;
    --foreground: 54 0% 100%;
    --muted: 0 0% 14.51%;
    --muted-foreground: 24 4% 72%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --card: 0 0% 8.24%;
    --card-foreground: 0 0% 100%;
    --border: 54 0% 14.62%;
    --input: 0 0% 14.51%;
    --primary: 54.11 70.89% 69.02%;
    --primary-foreground: 54 0% 0%;
    --secondary: 0 0% 14.51%;
    --secondary-foreground: 24 0% 100%;
    --accent: 54.11 70.89% 69.02%;
    --accent-foreground: 84 0% 0%;
    --destructive: 1 85% 52%;
    --destructive-foreground: 0 0% 100%;
    --ring: 54 71% 69%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}